wp-admin
wp-includes
wp-content/plugins
wp-content/uploads
wp-content/upgrade
wp-content/themes/basic
wp-content/themes/chic-lite
wp-content/themes/twentynineteen
wp-content/themes/twentyseventeen
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone
wp-content/themes/malik-shop/assets/img
.vscode
node_modules
